/* General page style */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #FFD1DC;
  color: #333;
}

/* Header */
header {
  text-align: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  padding: 40px 20px;
}
header h1 {
  margin: 0;
  font-size: 3em;
}
header p {
  font-size: 1.2em;
}

/* Gallery */
.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap; /* makes it responsive */
}
.gallery img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}
.gallery img:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 20px;
  margin-top: 40px;

}
